<div class="footer bg-dark text-white py-5 px-sm-3 px-md-5">
    <div class="row pt-5">
      <!-- Get in Touch Section -->
      <div class="col-lg-3 col-md-6 mb-5">
        <h4 class="text-prim mb-4">Get In Touch</h4>
        <p><i class="fa fa-map-marker-alt mr-2"></i> 123 Street, Bangalore, India</p>
        <p><i class="fa fa-phone-alt mr-2"></i> +91-9513341599</p>
        <p><i class="fa fa-envelope mr-2"></i> wallmagic.in.com</p>
        <div class="social-icons d-flex justify-content-start mt-4">
          <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" href="#">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" href="#">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
  
      <!-- Quick Links Section -->
      <div class="col-lg-3 col-md-6 mb-5">
        <h4 class="text-prim mb-4">Quick Links</h4>
        <div class="d-flex flex-column">
          <a class="text-white mb-2" href="#">Home</a>
          <a class="text-white mb-2" href="#">About Us</a>
          <a class="text-white mb-2" href="#">Our Services</a>
          <a class="text-white mb-2" href="#">Our Projects</a>
          <a class="text-white" href="#">Contact Us</a>
        </div>
      </div>
  
      <!-- Popular Links Section -->
      <div class="col-lg-3 col-md-6 mb-5">
        <h4 class="text-prim mb-4">Popular Links</h4>
        <div class="d-flex flex-column">
          <a class="text-white mb-2" href="#">Home</a>
          <a class="text-white mb-2" href="#">About Us</a>
          <a class="text-white mb-2" href="#">Our Services</a>
          <a class="text-white mb-2" href="#">Our Projects</a>
          <a class="text-white" href="#">Contact Us</a>
        </div>
      </div>
  
      <!-- Newsletter Section -->
      <div class="col-lg-3 col-md-6 mb-5">
        <h4 class="text-prim mb-4">Newsletter</h4>
        <form>
          <div class="form-group">
            <input type="text" class=" inputNewsletter form-control border-0" placeholder="Your Name" required />
          </div>
          <div class="form-group">
            <input type="email" class=" inputNewsletter form-control border-0" placeholder="Your Email" required />
          </div>
          <button class="btn btn-lg btn-primary btn-block border-0" type="submit">Submit Now</button>
        </form>
      </div>
    </div>
  
    <!-- Footer Bottom Section -->
    <div class="container border-top border-secondary pt-5">
      <p class="m-0 text-center text-white">
        &copy; <a class="text-white font-weight-bold" href="#">Wall Magic Paint</a>. All Rights Reserved. Designed by
        <a class="text-white font-weight-bold" href="https://www.linkedin.com/in/utkarsh-bhardwaj-1009/">Utkarsh Bhardwaj</a>
      </p>
    </div>
  </div>
  