.footer {
    background-color: #333;
    color: white;
  }
  
  .footer h4 {
    font-weight: bold;
  }
  .text-prim{
    color: #DFB163;
  }
  
  .footer .social-icons a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .footer .social-icons a:hover {
    background-color: #555;
  }
  
  .footer .d-flex a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .footer .d-flex a:hover {
    color: #00bcd4;
  }
  
  .footer .form-control {
    border-radius: 0;
    padding: 10px;
  }
  
  .footer button {
    background-color: #00bcd4;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    width: 8em;
  }
  
  .footer button:hover {
    background-color: #0288d1;
  }
  
  .footer .container p {
    font-size: 14px;
  }
  
  .footer .container p a {
    color: #00bcd4;
    text-decoration: none;
  }
  
  .footer .container p a:hover {
    text-decoration: underline;
  }
  .inputNewsletter{
    margin: 5px 0;
  }