.custom-dialog {
    max-width: 600px; /* Default for desktop */
    width: 90%; /* Responsive width for smaller screens */
    padding: 20px;
    background-color: #e1dfdf; 
    border-radius: 8px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    position: relative; 
    input{
      //padding: 10px;
      width: 100%;
      // background-color: #FFFFFFD1;
      // border-color: #3E5662;
      // border-width: 0px 0px 0px 0px;
      // border-radius: 25px 25px 25px 25px;
    }
  }
  .dialogHeader{
    text-align: center;
    font-weight: 700;
  }
  
  .dialog-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 32px;
    font-weight: bold;
    color: #555;
    cursor: pointer;
    z-index: 9999;
  }
  
  .dialog-close-btn:hover {
    color: #f44336; 
  }
  
  .dialog-content {
    display: flex;
    flex-direction: column;
    gap: 4px; 
  }
  
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px; 
    margin: 0.5em 0;
  }
  
  .label {
    flex: 1; 
    font-weight: bold;
    color: #333; 
  }
  
  .value {
    flex: 2; 
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  mat-checkbox {
    margin-top: 16px;
    align-self: flex-start;
  }
  
  button[mat-raised-button] {
    margin-top: 20px;
    width: 100%; 
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
  }
  
  /* Mobile Styles */
  @media (max-width: 768px) {
    .custom-dialog {
      max-width: 90%; 
      padding: 15px;
    }
  
    .dialog-close-btn {
      font-size: 28px; 
      top: 5px;
      right: 5px;
    }
  
    .label {
      font-size: 14px; 
    }
  
    button[mat-raised-button] {
      font-size: 14px;
      padding: 10px;
    }
  }
  
  /* Extra Small Devices */
  @media (max-width: 480px) {
    .custom-dialog {
      padding: 10px;
    }
  
    .dialog-content {
      gap: 12px; 
    }
  
    .label {
      font-size: 12px;
    }
  
    button[mat-raised-button] {
      font-size: 12px;
      padding: 8px;
    }
  }
  ::ng-deep .mat-mdc-dialog-surface{
    background-color: transparent !important;
  }
  ::ng-deep .mat-mdc-form-field-infix{
    padding: 0.5em 0 !important;
    min-height: 2.5em !important;
    width: 220px !important;
  }
  ::ng-deep .mat-mdc-form-field-subscript-wrapper{
    display: none;
  }
  .submitButton{
    background-color: #DFB163;
  }