<div class="container bg-light">
    <div class="row aboutSection" style="min-height: 400px;">
        <div class="col-lg-5 bg-yellow alignMiddle">
            <div class="experienceSection alignMiddle">
                <div class="experienceImage">Icon</div>
                <div class="experienceDetails alignMiddle">
                    <h4>25+</h4>
                    <h1>Years Experience</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-7 aboutDetailsContainer">
            <h6 class="text-uppercase">Learn About Us</h6>
                    <h1 class="mb-4 section-title">We Are The Best Interior Designing Firm In Your City</h1>
                    <p>Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor lorem ipsum ut sed eos, ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum est dolor</p>
                    <div class="aboutDetails">
                        <div class="eachRow">
                            <div class="rowItem">
                                <div class="itemIcon">
                                    <mat-icon fontIcon="house"></mat-icon>
                                </div>
                                <div class="itemLabel">
                                    Project Planning
                                </div>
                            </div>
                            <div class="rowItem">
                                <div class="itemIcon">
                                    <mat-icon fontIcon="house_siding"></mat-icon>
                                </div>
                                <div class="itemLabel">
                                    Exterior & Interior
                                </div>
                            </div>
                        </div>
                        <div class="eachRow">
                            <div class="rowItem">
                                <div class="itemIcon">
                                    <mat-icon fontIcon="apartment"></mat-icon>
                                </div>
                                <div class="itemLabel">
                                    Commercial Design
                                </div>
                            </div>
                            <div class="rowItem">
                                <div class="itemIcon">
                                    <mat-icon fontIcon="home_work"></mat-icon>
                                </div>
                                <div class="itemLabel">
                                    Residential Design
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>

</div>
